services:
  mongo:
    image: mongo:8
    container_name: mongo-ktb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: bootcamp-chat
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7.2
    container_name: redis-ktb
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data

  mongodb-exporter:
    image: percona/mongodb_exporter:0.47.1
    container_name: mongodb-exporter-ktb
    restart: unless-stopped
    ports:
      - "9216:9216"
    command:
      - '--mongodb.uri=mongodb://mongo:27017'
      - '--collect-all'
    depends_on:
      - mongo

  redis-exporter:
    image: oliver006/redis_exporter:v1.80.0
    container_name: redis-exporter-ktb
    restart: unless-stopped
    ports:
      - "9121:9121"
    environment:
      - REDIS_ADDR=redis:6379
    depends_on:
      - redis

  prometheus:
    image: prom/prometheus:v3.1.0
    container_name: prometheus-ktb
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'

  grafana:
    image: grafana/grafana:11.4.0
    container_name: grafana-ktb
    restart: unless-stopped
    ports:
      - "9091:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus

volumes:
  mongo_data:
  redis_data:
  prometheus_data:
  grafana_data: