name: CI/CD Deploy

on:
  push:        # 모든 브랜치 push 시 실행
    branches:
      - '**'

jobs:
  build-and-push:
    name: Build & Push Images
    runs-on: ubuntu-latest

    steps:
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build BE Docker image
        working-directory: ./apps/backend
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/chat-app-backend:latest .

      - name: Push BE Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/chat-app-backend:latest

      - name: Build FE Docker image
        working-directory: ./apps/frontend
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/chat-app-frontend:latest .

      - name: Push FE Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/chat-app-frontend:latest

      - name: Add SSH Key
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Deploy to Servers using SSH + docker compose
        env:
          SERVERS: ${{ secrets.EC2_DEPLOY_TARGETS }}   # JSON 배열
        run: |
          set -e

          echo "Deploying to all servers..."

          for server in $(echo "$SERVERS" | jq -r '.[]'); do
            echo "-------------------------------------"
            echo "Deploying to $server"
            echo "-------------------------------------"

            ssh -o StrictHostKeyChecking=no ubuntu@"$server" bash -s <<EOF
              set -e
              cd /home/ubuntu

              echo "Pulling latest Docker images..."
              sudo docker compose pull

              echo "Restarting services..."
              sudo docker compose up -d --remove-orphans

              echo "Deployment finished on $server"
          EOF

          done

          echo "-------------------------------------"
          echo "All servers deployed successfully!"
          echo "-------------------------------------"